<footer class="footer">
    <div class="links">
				<ul>
					<% for (name in theme.social) { %>
					<li>
						<a href="<%- url_for(theme.social[name]) %>">
							<%- name %>
						</a>
					</li>
					<% } %>
				</ul>
			
    </div>	
</footer>